@model TruckTrax1.Models.ExtensionCords

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExtensionCords</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECBrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECBrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECLengthInFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECLengthInFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECFunctionality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECFunctionality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECItemNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECItemNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CordPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CordPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
